openapi: 3.0.3
info:
  title: Virtuagym Public API (v1)
  description: >-
    The Virtuagym Public API lets fitness businesses, health clubs, and partner
    integrations read and write club data programmatically - members, staff
    (employees), membership definitions and instances, member credits, invoices,
    visits (check-ins), events (classes) and their participants, and coaching
    workout assignments. This document models the current v1 club-scoped surface.

    Access model: Virtuagym's authoritative reference documentation is
    access-gated - you request access by emailing api@virtuagym.com with your
    GitHub username, and you provision an API key and Club secret in the
    Virtuagym portal under System settings > Business info > Advanced. The
    endpoints, methods, and query parameters below are grounded in Virtuagym's
    publicly mirrored API wiki and in live host probes; request/response bodies
    are modeled honestly and marked with additionalProperties where the full
    field set is not published. Treat schema shapes as a starting point and
    reconcile against the official reference once access is granted.

    Authentication: v1 endpoints authenticate with an `api_key` and a
    `club_secret`, both passed as query-string parameters, over HTTPS only.
    (Legacy v0 endpoints used HTTP Basic Auth and are deprecated; a separate
    OAuth 2.0 flow exists for end-user-context calls and is out of scope for the
    club-scoped v1 surface modeled here.)
  version: '1.0'
  contact:
    name: Virtuagym API Team
    url: https://support.virtuagym.com/s/article/API-Link-To-Your-Website
    email: api@virtuagym.com
  license:
    name: Proprietary
    url: https://virtuagym.com
servers:
  - url: https://api.virtuagym.com/api
    description: Virtuagym Public API
security:
  - apiKeyAuth: []
    clubSecretAuth: []
tags:
  - name: Club Members
    description: Members of a club - list, retrieve, create, update, and activate.
  - name: Club Employees
    description: Staff / employees of a club.
  - name: Memberships
    description: Membership definitions (plans) and membership instances (enrollments).
  - name: Billing
    description: Member credits and club invoices.
  - name: Visits
    description: Club visits - member check-in / attendance records.
  - name: Events
    description: Club events (classes) and event participants (bookings).
  - name: Coaching
    description: Assign coaching workout plans to members.
paths:
  /v1/club/{club_id}/member:
    parameters:
      - $ref: '#/components/parameters/ClubId'
    get:
      operationId: listClubMembers
      tags:
        - Club Members
      summary: List club members
      description: >-
        Returns members of the club that have been created or edited since
        `sync_from`. Supports incremental sync and lookup filters.
      parameters:
        - $ref: '#/components/parameters/SyncFrom'
        - $ref: '#/components/parameters/FromId'
        - name: club_member_id
          in: query
          required: false
          description: Filter by one or more internal Virtuagym club member IDs.
          schema:
            type: string
        - name: email
          in: query
          required: false
          description: Look up a member by email address.
          schema:
            type: string
        - name: external_id
          in: query
          required: false
          description: Look up a member by the external ID stored on the profile.
          schema:
            type: string
        - name: rfid_tag
          in: query
          required: false
          description: Look up a member by RFID / access tag.
          schema:
            type: string
        - name: any_sub_club
          in: query
          required: false
          description: Include members across sub-clubs.
          schema:
            type: boolean
        - name: with
          in: query
          required: false
          description: Comma-separated related resources to embed in the response.
          schema:
            type: string
      responses:
        '200':
          description: A list of club members.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      operationId: createClubMember
      tags:
        - Club Members
      summary: Create a club member
      description: Creates a new member in the club.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberInput'
      responses:
        '200':
          description: The created member.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/club/{club_id}/member/{member_id}:
    parameters:
      - $ref: '#/components/parameters/ClubId'
      - $ref: '#/components/parameters/MemberId'
    get:
      operationId: getClubMember
      tags:
        - Club Members
      summary: Retrieve a club member
      description: Returns the details of a specific member by internal Virtuagym ID.
      parameters:
        - name: with
          in: query
          required: false
          description: Comma-separated related resources to embed in the response.
          schema:
            type: string
        - name: any_sub_club
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: The requested member.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateClubMember
      tags:
        - Club Members
      summary: Update a club member
      description: Updates an existing member identified by internal Virtuagym ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberInput'
      responses:
        '200':
          description: The updated member.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/club/{club_id}/member/create_or_update:
    parameters:
      - $ref: '#/components/parameters/ClubId'
    put:
      operationId: createOrUpdateClubMember
      tags:
        - Club Members
      summary: Create or update a member by external ID
      description: >-
        Creates a new member, or updates an existing one, matched on the
        `external_id` carried in the request body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberInput'
      responses:
        '200':
          description: The created or updated member.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/club/{club_id}/member/activate_user:
    parameters:
      - $ref: '#/components/parameters/ClubId'
    post:
      operationId: activateClubMemberUser
      tags:
        - Club Members
      summary: Activate a member's user profile
      description: >-
        Activates a member's Virtuagym user profile, or connects the member to an
        existing Virtuagym user profile.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Activation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/club/{club_id}/employee:
    parameters:
      - $ref: '#/components/parameters/ClubId'
    get:
      operationId: listClubEmployees
      tags:
        - Club Employees
      summary: List club employees
      description: Returns employees of the club that have been edited since `sync_from`.
      parameters:
        - $ref: '#/components/parameters/SyncFrom'
        - $ref: '#/components/parameters/FromId'
      responses:
        '200':
          description: A list of club employees.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      operationId: createClubEmployee
      tags:
        - Club Employees
      summary: Create a club employee
      description: Creates and returns a new employee.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: The created employee.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/club/{club_id}/employee/{employee_id}:
    parameters:
      - $ref: '#/components/parameters/ClubId'
      - name: employee_id
        in: path
        required: true
        description: The internal Virtuagym employee ID.
        schema:
          type: integer
    get:
      operationId: getClubEmployee
      tags:
        - Club Employees
      summary: Retrieve a club employee
      description: Returns a specific employee of the club.
      responses:
        '200':
          description: The requested employee.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateClubEmployee
      tags:
        - Club Employees
      summary: Update a club employee
      description: Updates and returns the employee.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: The updated employee.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/club/{club_id}/membership/definition:
    parameters:
      - $ref: '#/components/parameters/ClubId'
    get:
      operationId: listMembershipDefinitions
      tags:
        - Memberships
      summary: List membership definitions
      description: >-
        Returns the membership definitions (plans / products) configured for the
        club.
      parameters:
        - $ref: '#/components/parameters/SyncFrom'
        - $ref: '#/components/parameters/MaxResults'
      responses:
        '200':
          description: A list of membership definitions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/club/{club_id}/membership/instance:
    parameters:
      - $ref: '#/components/parameters/ClubId'
    get:
      operationId: listMembershipInstances
      tags:
        - Memberships
      summary: List membership instances
      description: >-
        Returns an array of membership instances (a member's enrollment in a
        membership definition) for the club. Supports incremental sync via
        `sync_from` or cursor paging via `from_id`.
      parameters:
        - $ref: '#/components/parameters/SyncFrom'
        - $ref: '#/components/parameters/FromId'
        - $ref: '#/components/parameters/MaxResults'
        - name: member_id
          in: query
          required: false
          description: Filter instances by member.
          schema:
            type: integer
      responses:
        '200':
          description: A list of membership instances.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/club/{club_id}/credit:
    parameters:
      - $ref: '#/components/parameters/ClubId'
    get:
      operationId: listMemberCredits
      tags:
        - Billing
      summary: List member credits
      description: Returns the credit balance / entries of a member.
      parameters:
        - name: member_id
          in: query
          required: false
          description: The member whose credits to return.
          schema:
            type: integer
        - $ref: '#/components/parameters/SyncFrom'
      responses:
        '200':
          description: A list of credit entries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      operationId: assignMemberCredits
      tags:
        - Billing
      summary: Assign member credits
      description: Assigns or adds new credits to a member.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: The updated credit result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/club/{club_id}/invoices:
    parameters:
      - $ref: '#/components/parameters/ClubId'
    post:
      operationId: createInvoice
      tags:
        - Billing
      summary: Create an invoice
      description: Creates a new invoice resource for the club.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: The created invoice.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/club/{club_id}/invoices/{invoice_id}:
    parameters:
      - $ref: '#/components/parameters/ClubId'
      - name: invoice_id
        in: path
        required: true
        description: The invoice ID.
        schema:
          type: string
    get:
      operationId: getInvoice
      tags:
        - Billing
      summary: Retrieve an invoice
      description: Returns the invoice resource that corresponds to `invoice_id`.
      responses:
        '200':
          description: The requested invoice.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/club/{club_id}/visits:
    parameters:
      - $ref: '#/components/parameters/ClubId'
    get:
      operationId: listVisits
      tags:
        - Visits
      summary: List visits
      description: >-
        Returns visit (check-in) records based on the supplied query parameters,
        such as new check-ins since `sync_from`.
      parameters:
        - $ref: '#/components/parameters/SyncFrom'
        - $ref: '#/components/parameters/FromId'
        - name: member_id
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: A list of visits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createVisit
      tags:
        - Visits
      summary: Create a visit
      description: Creates a new visit (check-in) resource for a member.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VisitInput'
      responses:
        '200':
          description: The created visit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/club/{club_id}/visits/{visit_id}:
    parameters:
      - $ref: '#/components/parameters/ClubId'
      - name: visit_id
        in: path
        required: true
        description: The visit ID.
        schema:
          type: string
    get:
      operationId: getVisit
      tags:
        - Visits
      summary: Retrieve a visit
      description: Returns the visit resource that corresponds to `visit_id`.
      responses:
        '200':
          description: The requested visit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/club/{club_id}/events:
    parameters:
      - $ref: '#/components/parameters/ClubId'
    get:
      operationId: listEvents
      tags:
        - Events
      summary: List club events
      description: >-
        Returns club events (scheduled classes / sessions). Filterable by
        schedule, member, and a start/end timestamp window.
      parameters:
        - $ref: '#/components/parameters/SyncFrom'
        - name: schedule_id
          in: query
          required: false
          schema:
            type: integer
        - name: timestamp_start
          in: query
          required: false
          description: Unix timestamp (seconds) lower bound of the event window.
          schema:
            type: integer
        - name: timestamp_end
          in: query
          required: false
          description: Unix timestamp (seconds) upper bound of the event window.
          schema:
            type: integer
        - name: member_id
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: A list of events.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/club/{club_id}/events/{event_id}:
    parameters:
      - $ref: '#/components/parameters/ClubId'
      - name: event_id
        in: path
        required: true
        description: The event ID.
        schema:
          type: integer
    get:
      operationId: getEvent
      tags:
        - Events
      summary: Retrieve an event
      description: Returns the event resource that corresponds to `event_id`.
      parameters:
        - $ref: '#/components/parameters/SyncFrom'
      responses:
        '200':
          description: The requested event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/club/{club_id}/eventparticipants:
    parameters:
      - $ref: '#/components/parameters/ClubId'
    get:
      operationId: listEventParticipants
      tags:
        - Events
      summary: List event participants
      description: >-
        Returns participants (bookings) for events, filterable by `event_id` and
        `sync_from`.
      parameters:
        - name: event_id
          in: query
          required: false
          schema:
            type: integer
        - $ref: '#/components/parameters/SyncFrom'
      responses:
        '200':
          description: A list of event participants.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createEventParticipant
      tags:
        - Events
      summary: Add an event participant
      description: Books a member into an event (creates an event participant).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventParticipantInput'
      responses:
        '200':
          description: The created event participant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      operationId: updateEventParticipant
      tags:
        - Events
      summary: Update an event participant
      description: Updates an existing event participant (booking).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventParticipantInput'
      responses:
        '200':
          description: The updated event participant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/club/{club_id}/eventparticipants/{event_participant_id}:
    parameters:
      - $ref: '#/components/parameters/ClubId'
      - name: event_participant_id
        in: path
        required: true
        description: The event participant ID.
        schema:
          type: integer
    get:
      operationId: getEventParticipant
      tags:
        - Events
      summary: Retrieve an event participant
      description: Returns the event participant that corresponds to the given ID.
      responses:
        '200':
          description: The requested event participant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteEventParticipant
      tags:
        - Events
      summary: Remove an event participant
      description: Cancels a booking by deleting the event participant.
      responses:
        '200':
          description: Deletion confirmation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/club/{club_id}/member/workouts:
    parameters:
      - $ref: '#/components/parameters/ClubId'
    post:
      operationId: assignMemberWorkout
      tags:
        - Coaching
      summary: Assign a workout to a member
      description: >-
        Assigns a coaching workout / training plan to a club member. The body
        specifies the plan and the member plus scheduling details (weekdays,
        weeks, start date).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkoutAssignmentInput'
      responses:
        '200':
          description: The workout assignment result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: query
      name: api_key
      description: The club's API key, provisioned in the Virtuagym portal under System settings > Business info > Advanced.
    clubSecretAuth:
      type: apiKey
      in: query
      name: club_secret
      description: The club secret, provisioned alongside the API key in the Virtuagym portal. Required for all v1 endpoints.
  parameters:
    ClubId:
      name: club_id
      in: path
      required: true
      description: The Virtuagym club ID.
      schema:
        type: integer
    MemberId:
      name: member_id
      in: path
      required: true
      description: The internal Virtuagym club member ID.
      schema:
        type: integer
    SyncFrom:
      name: sync_from
      in: query
      required: false
      description: Return only resources created or edited since this Unix timestamp in milliseconds.
      schema:
        type: integer
        format: int64
    FromId:
      name: from_id
      in: query
      required: false
      description: Cursor - return resources with an ID greater than this value, for paging.
      schema:
        type: integer
    MaxResults:
      name: max_results
      in: query
      required: false
      description: Maximum number of results to return in a page.
      schema:
        type: integer
  responses:
    Unauthorized:
      description: Missing or invalid api_key / club_secret.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Statistics:
      type: object
      description: Response metadata Virtuagym returns alongside result sets.
      properties:
        resultset_size:
          type: integer
        total_results:
          type: integer
        time_ms:
          type: integer
      additionalProperties: true
    Error:
      type: object
      properties:
        status:
          type: integer
        statusMessage:
          type: string
        result:
          type: object
          additionalProperties: true
      additionalProperties: true
    GenericResponse:
      type: object
      description: >-
        Standard Virtuagym envelope. The `result` object carries the resource;
        exact fields depend on the resource and are additive.
      properties:
        statusMessage:
          type: string
        statistics:
          $ref: '#/components/schemas/Statistics'
        result:
          type: object
          additionalProperties: true
      additionalProperties: true
    GenericListResponse:
      type: object
      description: Standard Virtuagym envelope wrapping an array of resources in `result`.
      properties:
        statusMessage:
          type: string
        statistics:
          $ref: '#/components/schemas/Statistics'
        result:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
    MemberInput:
      type: object
      description: >-
        Member payload. Confirmed common fields are modeled; the full schema is
        additive and should be reconciled against the official reference.
      properties:
        firstname:
          type: string
        lastname:
          type: string
        email:
          type: string
          format: email
        gender:
          type: string
        birthday:
          type: string
        external_id:
          type: string
          description: Your external system identifier for this member.
        phone:
          type: string
        address:
          type: string
        zip:
          type: string
        city:
          type: string
        country:
          type: string
      additionalProperties: true
    Member:
      allOf:
        - $ref: '#/components/schemas/MemberInput'
        - type: object
          properties:
            id:
              type: integer
              description: Internal Virtuagym club member ID.
            member_id:
              type: integer
            user_id:
              type: integer
            timestamp_edited:
              type: integer
              format: int64
          additionalProperties: true
    MemberResponse:
      type: object
      properties:
        statusMessage:
          type: string
        statistics:
          $ref: '#/components/schemas/Statistics'
        result:
          $ref: '#/components/schemas/Member'
      additionalProperties: true
    MemberListResponse:
      type: object
      properties:
        statusMessage:
          type: string
        statistics:
          $ref: '#/components/schemas/Statistics'
        result:
          type: array
          items:
            $ref: '#/components/schemas/Member'
      additionalProperties: true
    VisitInput:
      type: object
      properties:
        member_id:
          type: integer
        timestamp:
          type: integer
          format: int64
          description: Unix timestamp of the check-in.
        club_id:
          type: integer
      additionalProperties: true
    EventParticipantInput:
      type: object
      properties:
        event_id:
          type: integer
        member_id:
          type: integer
        status:
          type: string
      additionalProperties: true
    WorkoutAssignmentInput:
      type: object
      properties:
        plan_id:
          type: integer
          description: The workout / training plan to assign.
        user_id:
          type: integer
          description: The member (user) to assign the plan to.
        weekdays:
          type: array
          items:
            type: integer
        weeks:
          type: integer
        start_date:
          type: string
      additionalProperties: true
